@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital@1&display=swap');

.font-sans {
  font-family: var(--fontPrimary);
}
.font-serif {
  font-family: var(--fontSecondary);
  font-weight: 500 !important;
}
